.form-container{
    display: flex;
    justify-content: center;    
    padding: 20px;
}

.app-box{ 
    background-color: #fcfcfc;
    min-height: 500px;
    width: 60%;
    border-radius: 1px;
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

/* stretch all div to full length */
.app-box div{    
    width: 100%;
}

.control-buttons {
    text-align: right;    
}

.control-buttons img {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    background: #eee;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;
  }
  ul li p {
    font-weight: bold;
    margin-left: 20px;
  }
  ul li img {
    border-radius: 50%;
    width: 100%;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }